*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat top;
  height: 1000px;
}

.gradient {
  background: rgba(243, 129, 129, .9);
  background: -moz-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 129, 129, 1)), color-stop(100%, rgba(252, 227, 138, .9)));
  background: -webkit-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -o-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -ms-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: linear-gradient(to bottom, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38181', endColorstr='#fce38a', GradientType=0);
  height: 1000px;
}

.gradient .container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.menu-list-wrapper {
  display: flex;
}

.menu-list,
.menu-svg-list {
  display: flex;
  align-items: center;
}

.menu-list li,
.menu-svg-list li {
  margin-right: 55px;
}

.menu-list a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: .3s ease;
  position: relative;
}

a.menu-btn:hover {
  color: #fce38a;
}

a.menu-btn:after {
  bottom: -12px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fce38a;
  transition: width .3s ease 0s, left .3s ease 0s;
  width: 0;
}

a.menu-btn:hover:after {
  width: 100%;
  left: 0;
}

.menu-svg-list li:nth-child(2) {
  margin-right: 0px;
}

.hamburger {
  display: none;
  width: 33px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 10px;
}

.hamburger span:nth-child(4) {
  top: 20px;
}

.hamburger.active span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.hamburger.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.header-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-title {
  text-align: center;
  color: #fff;
}

.header-title h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  font-weight: 400;
}

.header-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: .92em;
  margin-top: 25px;
}

.header-hr {
  width: 60px;
  height: 3px;
  background: #fff;
  border: none;
  margin-top: 65px;
  margin-bottom: 50px;
}

.header-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 32px;
  border: solid #fff 3px;
  transition: .3s ease;
}

.header-btn:hover {
  color: #f38181;
  border-color: #f38181;
}

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.progress-column-wrapper {
  display: flex;
}

.progress-column-wrapper .progressbar-wrapper:nth-child(1) {
  margin-right: 26.6px;
}

.progressbar {
  width: 280px;
  height: 3px;
  background: #f7eac4;
}

.progress-column-wrapper:nth-child(1) .progressbar-wrapper:nth-child(1) .progressbar:nth-child(1) {
  background: #fff;
}

.progressbar .progress {
  display: block;
  width: 25%;
  height: 3px;
  background: #f38181;
}

.progressbar-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}

.progressbar-number {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .07em;
}

.about-us {
  background: #fff;
}

.section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-us-title {
  padding-top: 90px;
}

.section-title h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333;
  margin-bottom: 12px;
  text-align: center;
}

.section-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

.section-hr {
  width: 60px;
  height: 3px;
  background: #f38181;
  border: none;
  margin-top: 35px;
}

.about-us-hr {
  margin-bottom: 45px;
}

.section-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  width: 960px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 1.5em;
}

.about-us-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}

.background-img {
  position: relative;
  background: #95e1d3;
}

.transform-img {
  z-index: 1;
}

.img-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  background: rgba(243, 129, 129, .9);
  background: -moz-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 129, 129, 1)), color-stop(100%, rgba(252, 227, 138, .9)));
  background: -webkit-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -o-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -ms-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: linear-gradient(to bottom, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38181', endColorstr='#fce38a', GradientType=0);
}

.transform-img,
.img-gradient {
  transition: .3s ease;
}

.background-img:hover .transform-img,
.background-img:hover .img-gradient {
  transform: translate(-10px, -10px);
}

.background-img:hover .img-gradient {
  opacity: 1;
}

.stats {
  background: #95e1d3;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between
}

.stats-line {
  display: flex;
}

.stats-item {
  padding: 85px 57.7px;
}

.stats-item {
  border-right: solid 1px #b5eae0;
}

.stats-line:nth-child(1) .stats-item:nth-child(1) {
  border-left: solid 1px #b5eae0;
}

.stats-item h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 10px;
}

.stats-item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.services {
  background: #fff;
}

.services-title {
  padding-top: 110px;
}

.services-hr {
  margin-bottom: 60px;
}

.services-cards {
  padding-bottom: 120px;
}

.services-column {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.services-cards-hr {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  border: none;
  margin: 48px 0;
}

.services-card {
  display: flex;
  position: relative;
}

.services-card svg {
  position: relative;
  top: 5px;
}

.services-card-title {
  margin-left: 25px;
}

.services-card-title h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.services-card-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  line-height: 1.5em;
  width: 290px;
}

.design {
  background: #999;
  height: 848px;
}

.design-img {
  background: url(../img/design-bg.jpg) no-repeat top;
  height: 848px;
}

.design-bg {
  background: rgba(255, 255, 255, .85);
  height: 848px;
}

.design-bg .container {
  height: 848px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.design-devices {
  position: relative;
}

.design-title {
  padding-top: 110px;
}

.tablet {
  position: relative;
  right: 30px;
}

.phone {
  position: absolute;
  bottom: -90px;
  right: -130px;
}

.we-do-title {
  padding-top: 110px;
}

.we-do-hr {
  margin-bottom: 45px;
}

.we-do-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.we-do-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 380px;
  border: solid 1px #e5e5e5;
}

.we-do-photography p {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  color: #999;
  line-height: 1.5em;
}

.photography-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px 16px 16px;
}

.we-do-list-title {
  display: flex;
  align-items: center;
}

.we-do-list h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.we-do-list-title svg {
  margin-right: 16px;
}

.we-do-list-hr {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  border: none;
}

.we-do-list-description {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 25px 20px;
}

.we-do-list-scroll {
  width: 5px;
  background: #f5f5f5;
  margin: 0 24px 0 20px;
  border-radius: 5px;
}

.we-do-list-scroll-inside {
  width: 5px;
  height: 65%;
  background: #95e1d3;
  border-radius: 5px;
}

.we-do-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 23px 14px 16px;
}

.photography-wrapper svg:nth-child(2),
.we-do-list-wrapper svg:nth-child(2) {
  cursor: pointer;
}

.reviews {
  background: #f8f8f8;
}

.reviews-wrapper {
  padding: 70px 25px;
}

.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review > svg {
  cursor: pointer;
}

.review-content {
   display: flex;
   align-items: center;
}

.review-icon {
  padding: 45px;
  border: solid 3px #95e1d3;
  margin-right: 60px;
}

.review-title p {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  color: #999;
  margin-bottom: 15px;
  width: 740px;
  line-height: 1.5em;
}

.review-author {
  display: flex;
  align-items: center;
}

.review-author hr {
  width: 60px;
  height: 3px;
  background: #f38181;
  border: none;
  margin-right: 10px;
}

.review-author h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}

.team {
  background: #fff;
}

.team-title {
  padding-top: 100px;
}

.team-title p {
  margin-bottom: 90px;
}

.team-hr {
  margin-bottom: 45px;
}

.team-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.team-card {
  text-align: center;
}

.team-card h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 25px;
}

.team-card p {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  color: #999;
}

.team-card br {
  display: none;
}

.logos {
  background: #f8f8f8;
}

.logos .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10px;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .progressbar {
    width: 220px;
  }

  .section-title p {
    width: 830px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img {
    width: 305px;
  }

  .stats-item {
    padding: 85px 33.7px;
  }

  .services-card-title p {
    width: 220px;
  }

  .we-do-content img {
    width: 430px;
  }

  .we-do-list {
    width: 500px;
    height: 395px;
  }

  .review-title p {
    width: 600px;
  }

}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .menu-list li,
  .menu-svg-list li {
    margin-right: 40px;
  }

  .menu-svg-list li:nth-child(2) {
    margin-right: 0;
  }

  .header-title h2 {
    font-size: 65px;
  }

  .header-title h1 {
    font-size: 125px;
  }

  .progressbar {
    width: 160px;
  }

  .progressbar-title {
    font-size: 15px;
  }

  .progressbar-number {
    font-size: 20px;
  }

  .section-title h2 {
    font-size: 25px;
  }

  .section-title p {
    width: 620px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img {
    width: 228px;
  }

  .stats-item {
    padding: 85px 12px;
  }

  .stats-item h2 {
    font-size: 60px;
  }

  .services-card-title p {
    width: 140px;
  }

  .we-do-content {
    flex-direction: column;
  }

  .we-do-content img {
    width: 700px;
    margin-bottom: 30px;
  }

  .we-do-list {
    width: 700px;
    height: 360px;
  }

  .review-title p {
    width: 350px;
  }

  .logos img {
    width: 12%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .menu-list li,
  .menu-svg-list li {
    margin-right: 20px;
  }

  .header-title h2 {
    font-size: 55px;
  }

  .header-title h1 {
    font-size: 95px;
  }

  .progress-wrapper {
    flex-direction: column;
  }

  .progress-wrapper .progress-column-wrapper:nth-child(1) {
    margin-bottom: 20px;
  }

  .progress-column-wrapper {
    justify-content: space-between;
  }

  .progress-column-wrapper .progressbar-wrapper:nth-child(1) {
    margin-right: 0;
  }

  .progressbar {
    width: 258px;
  }

  .progressbar-title {
    margin-top: 10px;
  }

  .section-title p {
    width: 500px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img {
    width: 170px;
  }

  .stats-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 85px 0;
  }

  .stats-line:nth-child(1) {
    margin-bottom: 35px;
  }

  .stats-line:nth-child(2) .stats-item:nth-child(1) {
    border-left: solid 1px #b5eae0;
  }

  .stats-item {
    padding: 0 20px;
  }

  .stats-item h2 {
    font-size: 45px;
  }

  .services-column {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
  }

  .services-card {
    flex-direction: column;
    align-items: center;
  }

  .services-card svg {
    position: static;
  }

  .services-card-title {
    margin: 10px 0 0;
  }

  .services-card-title p {
    width: 300px;
  }

  .services-card1,
  .services-card2,
  .services-card3,
  .services-card4,
  .services-card5 {
    margin-bottom: 30px;
  }

  .services-cards-hr {
    display: none;
  }

  .tablet {
    width: 420px;
  }

  .phone {
    width: 240px;
    bottom: -75px;
    right: -60px;
  }

  .we-do-content img {
    width: 500px;
  }

  .we-do-list {
    width: 500px;
    height: 400px;
  }

  .reviews-wrapper {
    padding: 70px 0;
  }
 
  .review-content {
    flex-direction: column;
  }

  .review-icon {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .review-title p {
    text-align: center;
    width: 450px;
  }

  .review-author {
    flex-direction: column;
  }

  .review-author hr {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .team-card br {
    display: inline;
  }

  .logos .container {
    flex-wrap: wrap;
    gap: 25px;
    padding: 60px 0;
  }

  .logos img {
    width: 130px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .menu-list li {
    margin-right: 0;
    margin-top: 8px;
  }

  .menu-list li:nth-child(1) {
    margin-top: 0;
  }

  .menu-svg-list li:nth-child(2) {
    margin-right: 20px;
  }

  a.menu-btn:after {
    bottom: -5px;
  }

  .hamburger {
    display: block;
    margin-right: 17px;
  }

  .menu-list {
    position: absolute;
    visibility: hidden;
    top: 60px;
    opacity: 0;
    right: 5%;
    flex-direction: column;
    transition: .3s ease;
  }

  .menu-list.active {
    visibility: visible;
    opacity: 1;
  }

  .header-title h2 {
    font-size: 45px;
  }

  .header-title h1 {
    font-size: 75px;
  }

  .progress-wrapper .progress-column-wrapper:nth-child(1) {
    margin-bottom: 0;
  }

  .progress-column-wrapper {
    flex-direction: column;
  }

  .progress-column-wrapper .progressbar-wrapper:nth-child(1),
  .progress-column-wrapper:nth-child(1) .progressbar-wrapper:nth-child(2) {
    margin-bottom: 20px;
  }

  .progressbar {
    width: 100%;
  }

  .section-title p {
    width: 90%;
  }

  .about-us-img,
  .team-img {
    flex-direction: column;
  }

  .about-us-img .background-img:not(:last-child),
  .team-img .team-card:not(:last-child)  {
    margin-bottom: 35px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img {
    width: 100%;
  }

  .stats-item {
    padding: 0 10px;
  }

  .tablet {
    right: 0;
    width: 80%;
  }

  .phone {
    width: 50%;
    right: -5%;
    bottom: -17%;
  }

  .we-do-content img {
    width: 100%;
  }

  .we-do-list {
    width: 100%;
    height: 100%;
  }

  .review-content {
    width: 80%;
  }

  .review-title p {
    width: 100%;
  }

  .team-card br {
    display: none;
  }

  .logos img {
    width: 42%;
  }
}

@media screen and (max-width: 475px) {
  .header-title h2 {
    font-size: 35px;
  }

  .header-title h1 {
    font-size: 55px;
  }

  .services-card {
    width: 80%;
  }

  .services-card-title p {
    width: 100%;
  }

  .design-title {
    padding-top: 200px;
  }
}

@media screen and (max-width: 345px) {
  .header-title h2 {
    font-size: 29px;
  }

  .header-title h1 {
    font-size: 44px;
  }

  .stats-line:nth-child(1) {
    margin-bottom: 0;
  }

  .stats-line {
    flex-direction: column;
  }

  .stats-line:nth-child(1) .stats-item:nth-child(1),
  .stats-line:nth-child(2) .stats-item:nth-child(1) {
    border: none;
  }

  .stats-line:nth-child(1) .stats-item,
  .stats-line:nth-child(2) .stats-item:nth-child(1) {
    margin-bottom: 25px;
  }

  .stats-item {
    border: none;
  }

  .services-card {
    width: 100%;
  }
}