*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 1000px;
  background: url("../img/header-bg.jpg") no-repeat top;
}

.gradient {
  height: 1000px;
  background: rgb(243, 129, 129, .9);
  background: -o-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, .9)), to(rgba(252, 227, 138, .9)));
  background: -webkit-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -moz-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: linear-gradient(180deg, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f38181", endColorstr="#fce38a", GradientType=1);
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.gradient .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 1000px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 22px;
}

.logo {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.menu-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.menu-list,
.menu-svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.menu-list li,
.menu-svg-list li {
  margin-right: 55px;
}

.menu-list a {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
}

a.menu-btn:hover {
  color: #fce38a;
}

a.menu-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  display: block;
  width: 0;
  height: 3px;
  background: #fce38a;
  -webkit-transition: width .3s ease 0s, left .3s ease 0s;
  -o-transition: width .3s ease 0s, left .3s ease 0s;
  -moz-transition: width .3s ease 0s, left .3s ease 0s;
  transition: width .3s ease 0s, left .3s ease 0s;
}

a.menu-btn:hover::after {
  left: 0;
  width: 100%;
}

.menu-svg-list li:nth-child(2) {
  margin-right: 0;
}

.hamburger {
  position: relative;
  display: none;
  width: 33px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: block;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  width: 100%;
  height: 4px;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 10px;
}

.hamburger span:nth-child(4) {
  top: 20px;
}

.hamburger.active span:nth-child(1) {
  left: 50%;
  top: 10px;
  width: 0%;
}

.hamburger.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(4) {
  left: 50%;
  top: 10px;
  width: 0%;
}

.header-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.header-title {
  text-align: center;
  color: #fff;
}

.header-title h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 72px;
}

.header-title h1 {
  margin-top: 25px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: .92em;
  text-transform: uppercase;
}

.header-hr {
  margin-top: 65px;
  margin-bottom: 50px;
  border: none;
  width: 60px;
  height: 3px;
  background: #fff;
}

.header-btn {
  border: solid #fff 3px;
  padding: 12px 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
}

.header-btn:hover {
  border-color: #f38181;
  color: #f38181;
}

.progress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 25px;
}

.progress-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.progress-column-wrapper .progressbar-wrapper:nth-child(1) {
  margin-right: 26.6px;
}

.progressbar {
  width: 280px;
  height: 3px;
  background: #f7eac4;
}

.progress-column-wrapper:nth-child(1) .progressbar-wrapper:nth-child(1) .progressbar:nth-child(1) {
  background: #fff;
}

.progressbar .progress {
  display: block;
  width: 25%;
  height: 3px;
  background: #f38181;
}

.progressbar-title {
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.progressbar-number {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .07em;
}

.about-us {
  background: #fff;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.about-us-title {
  padding-top: 90px;
}

.section-title h3 {
  margin-bottom: 12px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.section-title h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.section-hr {
  margin-top: 35px;
  border: none;
  width: 60px;
  height: 3px;
  background: #f38181;
}

.about-us-hr {
  margin-bottom: 45px;
}

.section-title p {
  margin-bottom: 100px;
  width: 960px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
  text-align: center;
  color: #999;
}

.about-us-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 110px;
}

.background-img {
  position: relative;
  background: #95e1d3;
}

.transform-img {
  z-index: 1;
}

.img-gradient {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgb(243, 129, 129, .9);
  background: -o-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, .9)), to(rgba(252, 227, 138, .9)));
  background: -webkit-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: -moz-linear-gradient(top, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  background: linear-gradient(180deg, rgba(243, 129, 129, .9) 0%, rgba(252, 227, 138, .9) 100%);
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f38181", endColorstr="#fce38a", GradientType=1);
}

.transform-img,
.img-gradient {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
}

.background-img:hover .transform-img,
.background-img:hover .img-gradient {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -moz-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.background-img:hover .img-gradient {
  opacity: 1;
}

.stats {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #95e1d3;
}

.stats-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.stats-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.stats-item {
  border-right: solid 1px #b5eae0;
  padding: 85px 57.7px;
}

.stats-line:nth-child(1) .stats-item:nth-child(1) {
  border-left: solid 1px #b5eae0;
}

.stats-item h2 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 72px;
}

.stats-item p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.services {
  background: #fff;
}

.services-title {
  padding-top: 110px;
}

.services-hr {
  margin-bottom: 60px;
}

.services-cards {
  padding-bottom: 120px;
}

.services-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 30px;
}

.services-cards-hr {
  margin: 48px 0;
  border: none;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

.services-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.services-card svg {
  position: relative;
  top: 5px;
}

.services-card-title {
  margin-left: 25px;
}

.services-card-title h5 {
  margin-bottom: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.services-card-title p {
  width: 290px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
  color: #999;
}

.design {
  background: #999;
}

.design-hr {
  margin-bottom: 45px;
}

.design-img {
  background: url("../img/design-bg.jpg") no-repeat top;
}

.design-bg {
  background: rgba(255, 255, 255, .85);
}

.design-bg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.design-devices {
  position: relative;
}

.design-title {
  padding-top: 110px;
}

.tablet {
  position: relative;
  right: 30px;
}

.phone {
  position: absolute;
  right: -130px;
  bottom: -90px;
}

.we-do {
  background: #fff;
}

.we-do-title {
  padding-top: 110px;
}

.we-do-hr {
  margin-bottom: 45px;
}

.we-do-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 120px;
}

.we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border: solid 1px #e5e5e5;
  width: 600px;
  height: 380px;
}

.we-do-photography p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 1.5em;
  color: #999;
}

.photography-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 16px 23px 16px 16px;
}

.we-do-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.we-do-list h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.we-do-list-title svg {
  margin-right: 16px;
}

.we-do-list-hr {
  border: none;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

.we-do-list-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px 0 25px 20px;
}

.we-do-list-scroll {
  margin: 0 24px 0 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 5px;
  background: #f5f5f5;
}

.we-do-list-scroll-inside {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 5px;
  height: 65%;
  background: #95e1d3;
}

.we-do-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 14px 23px 14px 16px;
}

.photography-wrapper svg:nth-child(2),
.we-do-list-wrapper svg:nth-child(2),
.review>svg,
.social-items svg {
  cursor: pointer;
}

.reviews {
  background: #f8f8f8;
}

.reviews-wrapper {
  padding: 70px 25px;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.review-icon {
  margin-right: 60px;
  border: solid 3px #95e1d3;
  padding: 45px;
}

.review-title p {
  margin-bottom: 15px;
  width: 740px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5em;
  color: #999;
}

.review-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.review-author hr {
  margin-right: 10px;
  border: none;
  width: 60px;
  height: 3px;
  background: #f38181;
}

.review-author h3 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  color: #333;
}

.team {
  background: #fff;
}

.team-title {
  padding-top: 100px;
}

.team-title p {
  margin-bottom: 90px;
}

.team-hr {
  margin-bottom: 45px;
}

.team-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 120px;
}

.team-card {
  text-align: center;
}

.team-card h5 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.team-card p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999;
}

.team-card br {
  display: none;
}

.logos {
  background: #f8f8f8;
}

.logos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 60px 10px;
}

.work {
  background: #fff;
}

.work-title {
  padding-top: 110px;
  padding-bottom: 100px;
}

.work-hr {
  margin-bottom: 45px;
}

.work-title p {
  margin-bottom: 0;
}

.work-bg {
  height: 780px;
  background: #f8f8f8;
}

.work-bg-img {
  height: 780px;
  background: url("../img/work-bg.jpg") no-repeat top;
}

.second-review-icon {
  border: none;
  padding: 0;
}

.second-reviews-wrapper {
  padding-top: 100px;
  padding-bottom: 130px;
}

.clients {
  background: #999;
}

.clients-img {
  background: url("../img/clients-bg.jpg") no-repeat top;
}

.clients-bg {
  background: rgba(255, 255, 255, .85);
}

.clients .container {
  padding: 110px 40px 130px;
}

.clients-hr {
  margin-bottom: 90px;
}

.clients-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  gap: 75px;
}

.clients-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.clients-card-content {
  position: relative;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 30px;
  width: 400px;
}

.clients-card-content h5 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.clients-card-content h6 {
  margin-bottom: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #333;
}

.clients-card-hr {
  margin-top: 0;
  margin-bottom: 25px;
}

.clients-card-content p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5em;
  color: #999;
}

.latest {
  background: #fff;
}

.latest-title {
  padding-top: 110px;
}

.latest-hr {
  margin-bottom: 45px;
}

.latest-blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 115px;
}

.latest-blog {
  width: 380px;
}

.latest-blog-img {
  position: relative;
}

.blog-date {
  position: absolute;
  left: -10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 60px;
  height: 70px;
  background: #95e1d3;
}

.blog-date h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1em;
  text-transform: uppercase;
  color: #fff;
}

.blog-date p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 1.1em;
  color: #fff;
}

.latest-blog h5 {
  margin: 20px 0 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.latest-blog>p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5em;
  color: #999;
}

.blog-hr {
  margin: 17px 0 18px;
  border: none;
  height: 1px;
  background: #e5e5e5;
}

.blog-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.blog-stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 20px;
}

.blog-stats-item p {
  margin-left: 6px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999;
}

.map {
  background: #999;
}

.map-img {
  background: url("../img/map-bg.jpg") no-repeat top;
}

.map-bg {
  background: rgba(255, 255, 255, .85);
}

.map .container {
  padding: 55px 0;
}

.map-title a {
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #f38181;
}

.map-hr {
  margin-top: 20px;
}

.footer {
  background: #f8f8f8;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 70px 0;
}

.footer-credits {
  width: 480px;
}

.footer-credits h2 {
  margin-bottom: 35px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 46px;
  color: #ccc;
}

.footer-credits>p {
  margin-bottom: 45px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5em;
  color: #999;
}

.footer-credits h5 {
  margin-bottom: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #333;
}

.footer-credits span {
  font-size: 18px;
}

.footer-hr {
  border: none;
  height: 1px;
  background: #e5e5e5;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 16px 0 35px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999;
}

.social p {
  margin-right: 20px;
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.social-items svg:not(:last-child) {
  margin-right: 15px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.footer-form input {
  border: 1px #e7e7e7 solid;
  padding: 11px;
  width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #999;
}

.footer-form input::-webkit-input-placeholder {
  font-style: italic;
  color: #ccc;
}

.footer-form input::-moz-placeholder {
  font-style: italic;
  color: #ccc;
}

.footer-form input::-ms-input-placeholder {
  font-style: italic;
  color: #ccc;
}

.footer-form input:-ms-input-placeholder {
  font-style: italic;
  color: #ccc;
}

.footer-form input:-moz-placeholder {
  font-style: italic;
  color: #ccc;
}

.footer-form input::placeholder {
  font-style: italic;
  color: #ccc;
}

.footer-form input:focus {
  outline: none;
}

.footer-form button {
  border: none;
  padding: 12px 33px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: #95e1d3;
  cursor: pointer;
}

.footer-blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 5px;
}

.footer-blogs h5,
.footer-inst h5 {
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.footer-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.footer-blog-content {
  margin-left: 20px;
  width: 210px;
}

.footer-blog-content h6 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6em;
  text-transform: uppercase;
  color: #333;
}

.footer-blog-content p,
.footer-inst p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  color: #999;
}

.inst-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 20px;
  width: 268px;
}

.footer-inst p {
  color: #333;
  cursor: pointer;
}

.footer-author h5 {
  padding: 20px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.footer-author span {
  color: #f38181;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    width: 960px;
  }

  .progressbar {
    width: 220px;
  }

  .section-title p {
    width: 830px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img,
  .latest-blog,
  .latest-blog-img img {
    width: 305px;
  }

  .stats-item {
    padding: 85px 33.7px;
  }

  .services-card-title p {
    width: 220px;
  }

  .we-do-content img {
    width: 430px;
  }

  .we-do-list {
    width: 500px;
    height: 395px;
  }

  .review-title p {
    width: 600px;
  }

  .second-review-title p {
    width: 550px;
  }

  .clients-card-content {
    width: 280px;
  }

  .footer-credits {
    width: 310px;
  }

  .footer-form input {
    width: 160px;
  }

  .footer-blogs {
    -webkit-box-pack: normal;
    -moz-box-pack: normal;
    -ms-flex-pack: normal;
    -webkit-justify-content: normal;
    justify-content: normal;
  }

  .footer-blogs .footer-blog:not(:last-child),
  .footer-blogs .blog-wrapper {
    margin-bottom: 30px;
  }

  .footer-blog-content {
    width: 180px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .menu-list li,
  .menu-svg-list li {
    margin-right: 40px;
  }

  .menu-svg-list li:nth-child(2) {
    margin-right: 0;
  }

  .header-title h2 {
    font-size: 65px;
  }

  .header-title h1 {
    font-size: 125px;
  }

  .progressbar {
    width: 160px;
  }

  .progressbar-title {
    font-size: 15px;
  }

  .progressbar-number {
    font-size: 20px;
  }

  .section-title h2,
  .blog-date h2 {
    font-size: 25px;
  }

  .section-title p {
    width: 620px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img,
  .latest-blog,
  .latest-blog-img img {
    width: 228px;
  }

  .stats-item {
    padding: 85px 12px;
  }

  .stats-item h2 {
    font-size: 60px;
  }

  .services-card-title p {
    width: 140px;
  }

  .we-do-content {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .we-do-content img {
    margin-bottom: 30px;
    width: 700px;
  }

  .we-do-list {
    width: 700px;
    height: 360px;
  }

  .review-title p {
    width: 350px;
  }

  .logos img {
    width: 12%;
  }

  .second-review-title p {
    width: 300px;
  }

  .clients .container {
    padding: 110px 0 130px;
  }

  .clients-card-content {
    width: 200px;
  }

  .footer-credits {
    width: 230px;
  }

  .social {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .social p {
    margin: 0 0 10px;
  }

  .footer-form input {
    width: 112px;
  }

  .footer-form button {
    padding: 12px 17px;
  }

  .footer-blogs .footer-blog:not(:last-child),
  .footer-blogs .blog-wrapper {
    margin-bottom: 15px;
  }

  .footer-blog-content {
    width: 160px;
  }

  .footer-blog img {
    width: 100px;
  }

  .inst-img {
    width: 184px;
  }

  .inst-img img {
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .menu-list li,
  .menu-svg-list li {
    margin-right: 20px;
  }

  .header-title h2 {
    font-size: 55px;
  }

  .header-title h1 {
    font-size: 95px;
  }

  .progress-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .progress-column-wrapper {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .progress-wrapper .progress-column-wrapper:nth-child(1) {
    margin-bottom: 20px;
  }

  .progress-column-wrapper .progressbar-wrapper:nth-child(1) {
    margin-right: 0;
  }

  .progressbar {
    width: 258px;
  }

  .progressbar-title {
    margin-top: 10px;
  }

  .section-title p {
    width: 500px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img,
  .latest-blog,
  .latest-blog-img img {
    width: 170px;
  }

  .stats-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 85px 0;
  }

  .stats-line:nth-child(1) {
    margin-bottom: 35px;
  }

  .stats-item {
    padding: 0 20px;
  }

  .stats-line:nth-child(2) .stats-item:nth-child(1) {
    border-left: solid 1px #b5eae0;
  }

  .stats-item h2 {
    font-size: 45px;
  }

  .services-column {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 0;
    text-align: center;
  }

  .services-card {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .services-card svg {
    position: static;
  }

  .services-card-title {
    margin: 10px 0 0;
  }

  .services-card-title p {
    width: 300px;
  }

  .services-card1,
  .services-card2,
  .services-card3,
  .services-card4,
  .services-card5 {
    margin-bottom: 30px;
  }

  .services-cards-hr {
    display: none;
  }

  .tablet {
    width: 420px;
  }

  .phone {
    right: -60px;
    bottom: -75px;
    width: 240px;
  }

  .we-do-content img {
    width: 500px;
  }

  .we-do-list {
    width: 500px;
    height: 400px;
  }

  .reviews-wrapper {
    padding: 70px 0;
  }

  .second-reviews-wrapper {
    padding-top: 100px;
    padding-bottom: 130px;
  }

  .review-content {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .review-icon {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .review-title p {
    width: 450px;
    text-align: center;
  }

  .review-author {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .review-author hr {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .team-card br {
    display: inline;
  }

  .logos .container {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 25px;
    padding: 60px 0;
  }

  .logos img {
    width: 25%;
  }

  .clients-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .clients-cards {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .clients-card-content {
    width: 400px;
  }

  .blog-date {
    width: 45px;
    height: 55px;
  }

  .footer-info {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .footer-credits {
    width: 480px;
  }

  .footer-credits,
  .footer-blogs {
    margin-bottom: 45px;
  }

  .social {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .social p {
    margin: 0 20px 0 0;
  }

  .footer-form input {
    width: 200px;
  }

  .footer-form button {
    padding: 12px 33px;
  }

  .footer-blogs .footer-blog:not(:last-child),
  .footer-blogs .blog-wrapper {
    margin-bottom: 30px;
  }

  .footer-blog-content {
    width: 210px;
  }

  .footer-blog img {
    width: 120px;
  }

  .inst-img {
    width: 268px;
  }

  .inst-img img {
    width: 88px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .menu-list li {
    margin-top: 8px;
    margin-right: 0;
  }

  .menu-list li:nth-child(1) {
    margin-top: 0;
  }

  .menu-svg-list li:nth-child(2) {
    margin-right: 20px;
  }

  a.menu-btn::after {
    bottom: -5px;
  }

  .hamburger {
    display: block;
    margin-right: 17px;
  }

  .menu-list {
    position: absolute;
    right: 5%;
    top: 60px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
  }

  .menu-list.active {
    opacity: 1;
    visibility: visible;
  }

  .header-title h2 {
    font-size: 45px;
  }

  .header-title h1 {
    font-size: 75px;
  }

  .progress-wrapper .progress-column-wrapper:nth-child(1) {
    margin-bottom: 0;
  }

  .progress-column-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .progress-column-wrapper .progressbar-wrapper:nth-child(1),
  .progress-column-wrapper:nth-child(1) .progressbar-wrapper:nth-child(2) {
    margin-bottom: 20px;
  }

  .progressbar {
    width: 100%;
  }

  .section-title p {
    width: 90%;
  }

  .about-us-img,
  .team-img,
  .latest-blogs {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .about-us-img .background-img:not(:last-child),
  .team-img .team-card:not(:last-child),
  .latest-blogs .latest-blog:not(:last-child) {
    margin-bottom: 35px;
  }

  .about-us-img .transform-img,
  .team-img .transform-img,
  .latest-blog,
  .latest-blog-img img {
    width: 100%;
  }

  .stats-item {
    padding: 0 10px;
  }

  .tablet {
    right: 0;
    width: 80%;
  }

  .phone {
    right: -5%;
    bottom: -17%;
    width: 50%;
  }

  .we-do-content img {
    width: 100%;
  }

  .we-do-list {
    width: 100%;
    height: 100%;
  }

  .review-content {
    width: 80%;
  }

  .review-title p {
    width: 100%;
  }

  .team-card br {
    display: none;
  }

  .clients-card {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .clients-card-content {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 0;
    width: 400px;
    text-align: center;
  }

  .blog-date {
    width: 60px;
    height: 70px;
  }

  .footer-inst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .footer-credits,
  .footer-blog-content,
  .inst-img {
    width: 100%;
  }

  .inst-img img {
    width: 33%;
  }
}

@media screen and (max-width: 475px) {
  .header-title h2 {
    font-size: 35px;
  }

  .header-title h1 {
    font-size: 55px;
  }

  .services-card {
    width: 80%;
  }

  .services-card-title p {
    width: 100%;
  }

  .clients-card-content {
    width: 100%;
  }

  .inst-img img {
    width: 32.9%;
  }
}

@media screen and (max-width: 441px) {
  .footer-form input {
    width: 100%;
  }

  .inst-img img {
    width: 32.8%;
  }
}

@media screen and (max-width: 345px) {
  .header-title h2 {
    font-size: 29px;
  }

  .header-title h1 {
    font-size: 44px;
  }

  .stats-line {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .stats-line:nth-child(1) {
    margin-bottom: 0;
  }

  .stats-item {
    border: none;
  }

  .stats-line:nth-child(1) .stats-item:nth-child(1),
  .stats-line:nth-child(2) .stats-item:nth-child(1) {
    border: none;
  }

  .stats-line:nth-child(1) .stats-item,
  .stats-line:nth-child(2) .stats-item:nth-child(1) {
    margin-bottom: 25px;
  }

  .services-card {
    width: 100%;
  }

  .social {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .social p {
    margin: 0 0 10px;
  }

  .footer-form {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .footer-form input {
    margin-bottom: 10px;
  }

  .footer-form button {
    width: 100%;
  }

  .inst-img img {
    width: 32.7%;
  }
}